<form id="loginForm" class="navbar-form navbar-right" action="/danceseen/ACCOUNT/Controller/account_login.php" method="POST">		
			
	<div id="loginEmailinput" class="form-group">
		<input id="loginEmail" type="text" placeholder="Email" class="form-control" name="account_email">
	</div>
		
	<div id="loginPasswordinput" class="form-group">
		<input id="loginPassword" type="password" placeholder="Password" class="form-control" name="account_password">
	</div>
	
	<div id="loginCodeinput" class="form-group">
		<input id="loginPassword" type="hidden" class="form-control" <?php echo "value=$code" ?> name="verify_code">
	</div>
	
	<input type="submit" class="button button-default btn btn-success" value="Login" />
	<button type="button" class="button button-default btn btn-fail" onClick="parent.location='ACCOUNT/View/account_pw_reset_form.html'"">Forgot My Password =(</button>
</form>